<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.realtek.fullfactorymenu"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:name=".FactoryApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <uses-library android:name="rtk-framework"/>
        <uses-library android:name="exttv-framework"/>
        <activity
            android:name=".FactoryMenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FactoryMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.realtek.factory.action.FACTORY_MENU" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".user.UsbSelectorActivity"
            android:theme="@style/TranslucentActivity"/>

        <service
            android:name=".user.LogCatService"
            android:exported="true"
            android:process=":LogCatServer"/>
    </application>

</manifest>
